.layerContainer-yqaFcK {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1002;
}
@-webkit-keyframes spinner-wandering-cubes-1eyF3t {
  25% {
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
    transform: translateX(22px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
    transform: translateX(22px) translateY(22px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes spinner-wandering-cubes-1eyF3t {
  25% {
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
    transform: translateX(22px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
    transform: translateX(22px) translateY(22px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@-webkit-keyframes spinner-chasing-dots-rotate-1WX_VU {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spinner-chasing-dots-rotate-1WX_VU {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spinner-chasing-dots-bounce-39u8Kf {
  0%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes spinner-chasing-dots-bounce-39u8Kf {
  0%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes spinner-pulsing-ellipsis-1qRxRG {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spinner-pulsing-ellipsis-1qRxRG {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes spinner-low-motion-kHWo1a {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@keyframes spinner-low-motion-kHWo1a {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes spinner-spinning-circle-rotate-1-ejtM {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spinner-spinning-circle-rotate-1-ejtM {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spinner-spinning-circle-dash-3G9Wwf {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 130, 200;
  }
  to {
    stroke-dasharray: 130, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes spinner-spinning-circle-dash-3G9Wwf {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 130, 200;
  }
  to {
    stroke-dasharray: 130, 200;
    stroke-dashoffset: -124;
  }
}
[data-accessibility*="desaturate"] {
  -webkit-filter: saturate(var(--saturation-factor, 1));
  filter: saturate(var(--saturation-factor, 1));
}
.theme-dark {
  --brightness: calc(1.5 - var(--saturation-factor, 1) * 0.5);
  --contrast: var(--saturation-factor, 1);
}
.button-38aScr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: 0 0;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-38aScr:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: #fff;
  background-color: var(--brand-experiment);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: var(--brand-experiment-560);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
  background-color: var(--brand-experiment-600);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--brand-experiment);
}
.lookLink-9FtZy-.colorBrand-3pXr91 {
  color: var(--brand-experiment);
}
.lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp {
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    var(--brand-experiment) 0,
    var(--brand-experiment) 2px,
    transparent 0
  );
}
.lookLink-9FtZy-.colorBrand-3pXr91:disabled .contents-18-Yxp {
  background-image: none;
}
.lookFilled-1Gx00P.colorLink-35jkBc {
  color: #fff;
  background-color: var(--text-link);
}
.lookFilled-1Gx00P.colorLink-35jkBc:active,
.lookFilled-1Gx00P.colorLink-35jkBc:hover {
  background-color: null;
}
.lookFilled-1Gx00P.colorLink-35jkBc:disabled {
  background-color: var(--text-link);
}
.lookLink-9FtZy-.colorLink-35jkBc {
  color: var(--text-link);
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    var(--text-link) 0,
    var(--text-link) 2px,
    transparent 0
  );
}
.lookLink-9FtZy-.colorLink-35jkBc:disabled .contents-18-Yxp {
  background-image: none;
}
.lookFilled-1Gx00P {
  -webkit-transition: background-color 0.17s ease, color 0.17s ease;
  transition: background-color 0.17s ease, color 0.17s ease;
}
.sizeLarge-1vSeWK {
  width: 130px;
  height: 44px;
  min-width: 130px;
  min-height: 44px;
}
.sizeMin-1mJd1x {
  display: inline;
  width: auto;
  height: auto;
  padding: 2px 4px;
}
.grow-q77ONN {
  width: auto;
}
.fullWidth-1orjjo {
  width: 100%;
}
.lookFilled-1Gx00P .contents-18-Yxp,
.lookLink-9FtZy- .contents-18-Yxp {
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .lookFilled-1Gx00P .contents-18-Yxp,
  .lookLink-9FtZy- .contents-18-Yxp {
    margin: 0;
  }
}
.flex-1O1GKY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.alignCenter-1dQNNs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.justifyStart-2NDFzi {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.noWrap-3jynv6 {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.directionRow-3v3tfG {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.horizontal-1ae9ci > .flex-1xMQg5 {
  margin-left: 10px;
  margin-right: 10px;
}
.horizontal-1ae9ci > .flex-1xMQg5:first-child {
  margin-left: 0;
}
.horizontal-1ae9ci > .flex-1xMQg5:last-child {
  margin-right: 0;
}
.colorStandard-2KCXvj {
  color: var(--text-normal);
}
.colorHeaderSecondary-3Sp3Ft {
  color: var(--header-secondary);
}
.size14-e6ZScH {
  font-size: 14px;
  line-height: 18px;
}
.size16-1P40sf {
  font-size: 16px;
  line-height: 20px;
}
.size24-RIRrxO {
  font-size: 24px;
  line-height: 30px;
}
.size32-o_H79z {
  font-size: 32px;
  line-height: 40px;
}
.title-3sZWYQ {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: default;
  font-family: var(--font-display);
}
.h5-18_1nd {
  font-weight: 600;
  text-transform: uppercase;
}
.h5-18_1nd {
  font-size: 12px;
  line-height: 16px;
}
.defaultMarginh5-2mL-bP {
  margin-bottom: 8px;
}
.h5-18_1nd {
  color: var(--header-secondary);
}
.marginTop4-2BNfKC {
  margin-top: 4px;
}
.marginBottom8-AtZOdT {
  margin-bottom: 8px;
}
.marginTop20-3TxNs6 {
  margin-top: 20px;
}
.marginBottom20-32qID7 {
  margin-bottom: 20px;
}
.base-1x0h_U {
  font-weight: 600;
  color: var(--header-primary);
}
.fontDisplay-1dagSA {
  font-family: var(--font-display);
}
.size10-39i14u {
  font-size: 10px;
}
.size12-3R0845 {
  font-size: 12px;
}
.emoji-270c6v {
  margin-right: 8px;
}
@-webkit-keyframes placeholderPulse-2NB6YJ {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0.2;
  }
}
@keyframes placeholderPulse-2NB6YJ {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0.2;
  }
}
.svg-2V3M55 {
  position: absolute;
}
.inputWrapper-31_8H8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.input-cIJ7To {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  color: var(--text-normal);
  background-color: var(--deprecated-text-input-bg);
  border: 1px solid var(--deprecated-text-input-border);
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
.input-cIJ7To::-webkit-input-placeholder {
  -webkit-user-select: none;
  user-select: none;
  color: var(--text-muted);
}
.input-cIJ7To::-moz-placeholder {
  -moz-user-select: none;
  user-select: none;
  color: var(--text-muted);
}
.input-cIJ7To:-ms-input-placeholder {
  -ms-user-select: none;
  user-select: none;
  color: var(--text-muted);
}
.input-cIJ7To::placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text-muted);
}
.input-cIJ7To:hover {
  border-color: var(--deprecated-text-input-border-hover);
}
.input-cIJ7To:focus {
  border-color: var(--text-link);
}
.inputDefault-_djjkz {
  padding: 10px;
  height: 40px;
}
.header-3wG9rE {
  text-align: center;
}
@-webkit-keyframes outgoing-call-pulse-E6kWPF {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  11.56% {
    opacity: 1;
  }
  39.02% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  39.03% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  39.04% {
    opacity: 1;
  }
  66.48% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes outgoing-call-pulse-E6kWPF {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  11.56% {
    opacity: 1;
  }
  39.02% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  39.03% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  39.04% {
    opacity: 1;
  }
  66.48% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes incoming-call-pulse-1fX7DI {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  0.7% {
    opacity: 1;
  }
  25.54% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  25.55% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25.56% {
    opacity: 1;
  }
  49.98% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  49.99% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    opacity: 1;
  }
  74.69% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  74.70% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  74.71% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes incoming-call-pulse-1fX7DI {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  0.7% {
    opacity: 1;
  }
  25.54% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  25.55% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25.56% {
    opacity: 1;
  }
  49.98% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  49.99% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    opacity: 1;
  }
  74.69% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  74.70% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  74.71% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}
.button-1Z6F2y {
  width: 100%;
}
.header-3a78__ {
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
}
[data-popout-root],
html {
  --brand-experiment-100: hsl(
    240,
    calc(var(--saturation-factor, 1) * 77.8%),
    98.2%
  );
  --brand-experiment-130: hsl(
    236,
    calc(var(--saturation-factor, 1) * 87.5%),
    96.9%
  );
  --brand-experiment-160: hsl(
    235,
    calc(var(--saturation-factor, 1) * 84.6%),
    94.9%
  );
  --brand-experiment-200: hsl(
    236,
    calc(var(--saturation-factor, 1) * 83.3%),
    92.9%
  );
  --brand-experiment-230: hsl(
    236,
    calc(var(--saturation-factor, 1) * 87%),
    91%
  );
  --brand-experiment-260: hsl(
    235,
    calc(var(--saturation-factor, 1) * 86.2%),
    88.6%
  );
  --brand-experiment-300: hsl(
    235,
    calc(var(--saturation-factor, 1) * 86.1%),
    85.9%
  );
  --brand-experiment-330: hsl(
    235,
    calc(var(--saturation-factor, 1) * 85.1%),
    81.6%
  );
  --brand-experiment-360: hsl(
    235,
    calc(var(--saturation-factor, 1) * 86.1%),
    77.5%
  );
  --brand-experiment-400: hsl(
    235,
    calc(var(--saturation-factor, 1) * 86.1%),
    71.8%
  );
  --brand-experiment-430: hsl(
    235,
    calc(var(--saturation-factor, 1) * 85.7%),
    69.8%
  );
  --brand-experiment-460: hsl(
    235,
    calc(var(--saturation-factor, 1) * 85.5%),
    67.5%
  );
  --brand-experiment: hsl(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%
  );
  --brand-experiment-500: hsl(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%
  );
  --brand-experiment-530: hsl(
    235,
    calc(var(--saturation-factor, 1) * 66.7%),
    58.8%
  );
  --brand-experiment-560: hsl(
    235,
    calc(var(--saturation-factor, 1) * 51.4%),
    52.4%
  );
  --brand-experiment-600: hsl(
    235,
    calc(var(--saturation-factor, 1) * 46.7%),
    44.1%
  );
  --brand-experiment-630: hsl(
    235,
    calc(var(--saturation-factor, 1) * 46.7%),
    38.2%
  );
  --brand-experiment-660: hsl(
    235,
    calc(var(--saturation-factor, 1) * 47.1%),
    33.3%
  );
  --brand-experiment-700: hsl(
    235,
    calc(var(--saturation-factor, 1) * 47%),
    25.9%
  );
  --brand-experiment-730: hsl(
    235,
    calc(var(--saturation-factor, 1) * 46.8%),
    24.3%
  );
  --brand-experiment-760: hsl(
    234,
    calc(var(--saturation-factor, 1) * 46.9%),
    22.2%
  );
  --brand-experiment-800: hsl(
    235,
    calc(var(--saturation-factor, 1) * 47.5%),
    19.4%
  );
  --brand-experiment-830: hsl(
    235,
    calc(var(--saturation-factor, 1) * 47.4%),
    14.9%
  );
  --brand-experiment-860: hsl(
    235,
    calc(var(--saturation-factor, 1) * 46.9%),
    9.6%
  );
  --brand-experiment-900: hsl(
    233,
    calc(var(--saturation-factor, 1) * 50%),
    3.1%
  );
  --brand-experiment-05a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.05
  );
  --brand-experiment-10a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.1
  );
  --brand-experiment-15a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.15
  );
  --brand-experiment-20a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.2
  );
  --brand-experiment-25a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.25
  );
  --brand-experiment-30a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.3
  );
  --brand-experiment-35a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.35
  );
  --brand-experiment-40a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.4
  );
  --brand-experiment-45a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.45
  );
  --brand-experiment-50a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.5
  );
  --brand-experiment-55a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.55
  );
  --brand-experiment-60a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.6
  );
  --brand-experiment-65a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.65
  );
  --brand-experiment-70a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.7
  );
  --brand-experiment-75a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.75
  );
  --brand-experiment-80a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.8
  );
  --brand-experiment-85a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.85
  );
  --brand-experiment-90a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.9
  );
  --brand-experiment-95a: hsla(
    235,
    calc(var(--saturation-factor, 1) * 85.6%),
    64.7%,
    0.95
  );
}
.emoji {
  -o-object-fit: contain;
  object-fit: contain;
  width: 1.375em;
  height: 1.375em;
  vertical-align: bottom;
}
.app-1q1i1E {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  z-index: auto;
}
a,
body,
code,
dd,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
p,
q,
strong,
var {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
a {
  color: var(--text-link);
  text-decoration: none;
  cursor: pointer;
}
a img {
  border: none;
}
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
}
p {
  margin: 14px 0;
}
::-webkit-input-placeholder,
input {
  font-family: var(--font-primary);
  font-weight: 400;
}
::-moz-placeholder,
input {
  font-family: var(--font-primary);
  font-weight: 400;
}
:-ms-input-placeholder,
input {
  font-family: var(--font-primary);
  font-weight: 400;
}
::placeholder,
input {
  font-family: var(--font-primary);
  font-weight: 400;
}
strong {
  font-weight: 600;
}
button {
  font-family: var(--font-primary);
  font-weight: 500;
  border: 0;
  cursor: pointer;
}
code {
  font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console,
    Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  font-size: 14px;
  line-height: 16px;
}
:root {
  --font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  --font-headline: Ginto Nord, Ginto, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-korean: Whitney, "Apple SD Gothic Neo", "NanumBarunGothic",
    "\B9D1\C740   \ACE0\B515", "Malgun Gothic", Gulim, ÃªÂµÂ´Ã«Â¦Â¼, Dotum,
    Ã«Ââ€¹Ã¬â€ºâ‚¬, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-japanese: Whitney, Hiragino Sans,
    "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN",
    "\30E1\30A4\30EA\30AA", Meiryo, Osaka, "MS PGothic", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --font-chinese-simplified: Whitney, "Microsoft YaHei New",
    Ã¥Â¾Â®Ã¨Â½Â¯Ã©â€ºâ€¦Ã©Â»â€˜, "Microsoft Yahei", "Microsoft JhengHei",
    Ã¥Â®â€¹Ã¤Â½â€œ, SimSun, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-chinese-traditional: Whitney, "Microsoft JhengHei",
    Ã¥Â¾Â®Ã¨Â»Å¸Ã¦Â­Â£Ã©Â»â€˜Ã©Â«â€, "Microsoft JhengHei UI", "Microsoft YaHei",
    Ã¥Â¾Â®Ã¨Â»Å¸Ã©â€ºâ€¦Ã©Â»â€˜, Ã¥Â®â€¹Ã¤Â½â€œ, SimSun, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: Whitney;
  font-weight: 300;
  src: url(/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff");
}
@font-face {
  font-family: Whitney;
  font-weight: 400;
  src: url(/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff");
}
@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url(/assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff");
}
@font-face {
  font-family: Whitney;
  font-weight: 600;
  src: url(/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff");
}
@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 300;
  src: url(/assets/148d0f25ba9c02a9190be23e882c7f87.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 400;
  src: url(/assets/32c4f766e4892c054dfd367dbe0fc6dc.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 500;
  src: url(/assets/32c4f766e4892c054dfd367dbe0fc6dc.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 600;
  src: url(/assets/88055567e3d928bcb1e67e967081572e.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 700;
  src: url(/assets/746a4f241e03deffc59b08c5650cf458.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 300;
  font-style: italic;
  src: url(/assets/26ec135289ee1c4e5439e30fa7d771b0.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 400;
  font-style: italic;
  src: url(/assets/7a504226cbb79a1a6990a72266007030.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 500;
  font-style: italic;
  src: url(/assets/7a504226cbb79a1a6990a72266007030.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 600;
  font-style: italic;
  src: url(/assets/4ea3faef5f6c0c74eb4d5e1a4a5de0b4.woff) format("woff");
}
@font-face {
  font-family: Ginto;
  font-weight: 700;
  font-style: italic;
  src: url(/assets/09788e4fa057f2e0067e13209e56c8a7.woff) format("woff");
}
@font-face {
  font-family: Ginto Nord;
  font-weight: 500;
  src: url(/assets/64f5045e7c47202da327cadef3c611d1.woff2) format("woff2"),
    url(/assets/e4308d367bcb6c91660d8618148e307d.woff) format("woff");
}
@font-face {
  font-family: Ginto Nord;
  font-weight: 600;
  src: url(/assets/37342aa4e66eb4137df0c8921e3853f0.woff2) format("woff2"),
    url(/assets/9d099dc8ec6264f00561648293f3d4b9.woff) format("woff");
}
@font-face {
  font-family: Ginto Nord;
  font-weight: 700;
  src: url(/assets/ae7c84783ad48b6d1c8e2bfbe707e0d4.woff2) format("woff2"),
    url(/assets/92e32db984c8577d8b81548b43b9c061.woff) format("woff");
}
.theme-dark {
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
  --text-link-low-saturation: hsl(
    197,
    calc(var(--saturation-factor, 1) * 100%),
    52.9%
  );
  --text-positive: hsl(139, calc(var(--saturation-factor, 1) * 66.8%), 58.6%);
  --text-warning: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
  --text-danger: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
  --text-brand: hsl(235, calc(var(--saturation-factor, 1) * 86.1%), 77.5%);
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: hsla(
    197,
    calc(var(--saturation-factor, 1) * 100%),
    47.8%,
    0.1
  );
  --info-help-foreground: hsl(
    197,
    calc(var(--saturation-factor, 1) * 100%),
    47.8%
  );
  --info-help-text: #fff;
  --status-warning-text: #000;
  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: hsl(
    210,
    calc(var(--saturation-factor, 1) * 9.8%),
    20%
  );
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --logo-primary: #fff;
  --control-brand-foreground: hsl(
    235,
    calc(var(--saturation-factor, 1) * 86.1%),
    77.5%
  );
  --control-brand-foreground-new: hsl(
    235,
    calc(var(--saturation-factor, 1) * 86.1%),
    77.5%
  );
  --background-mentioned: hsla(
    38,
    calc(var(--saturation-factor, 1) * 95.7%),
    54.1%,
    0.1
  );
  --background-mentioned-hover: hsla(
    38,
    calc(var(--saturation-factor, 1) * 95.7%),
    54.1%,
    0.08
  );
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --channels-default: #8e9297;
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}
.theme-dark {
  --info-positive-background: hsla(
    139,
    calc(var(--saturation-factor, 1) * 47.3%),
    43.9%,
    0.1
  );
  --info-positive-foreground: hsl(
    139,
    calc(var(--saturation-factor, 1) * 47.3%),
    43.9%
  );
  --info-warning-background: hsla(
    38,
    calc(var(--saturation-factor, 1) * 95.7%),
    54.1%,
    0.1
  );
  --info-warning-foreground: hsl(
    38,
    calc(var(--saturation-factor, 1) * 95.7%),
    54.1%
  );
  --info-danger-background: hsla(
    359,
    calc(var(--saturation-factor, 1) * 82.6%),
    59.4%,
    0.1
  );
  --info-danger-foreground: hsl(
    359,
    calc(var(--saturation-factor, 1) * 82.6%),
    59.4%
  );
  --status-positive-background: hsl(
    139,
    calc(var(--saturation-factor, 1) * 47.3%),
    43.9%
  );
  --status-positive-text: #fff;
  --status-warning-background: hsl(
    38,
    calc(var(--saturation-factor, 1) * 95.7%),
    54.1%
  );
  --status-danger-background: hsl(
    359,
    calc(var(--saturation-factor, 1) * 82.6%),
    59.4%
  );
  --status-danger-text: #fff;
  --focus-primary: hsl(197, calc(var(--saturation-factor, 1) * 100%), 47.8%);
}
.appMount-3lHmkl,
body,
html {
  height: 100%;
  width: 100%;
}
.appMount-3lHmkl {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.appMount-3lHmkl,
body {
  background-color: var(--background-tertiary);
  text-rendering: optimizeLegibility;
}
::-webkit-input-placeholder,
body,
button,
input {
  font-family: var(--font-primary);
  text-rendering: optimizeLegibility;
}
::-moz-placeholder,
body,
button,
input {
  font-family: var(--font-primary);
  text-rendering: optimizeLegibility;
}
:-ms-input-placeholder,
body,
button,
input {
  font-family: var(--font-primary);
  text-rendering: optimizeLegibility;
}
::placeholder,
body,
button,
input {
  font-family: var(--font-primary);
  text-rendering: optimizeLegibility;
}
html:lang(ja) ::-webkit-input-placeholder,
html:lang(ja) body,
html:lang(ja) button,
html:lang(ja) input,
html:lang(ja-JP) ::-webkit-input-placeholder,
html:lang(ja-JP) body,
html:lang(ja-JP) button,
html:lang(ja-JP) input {
  font-family: var(--font-japanese);
}
html:lang(ja) ::-moz-placeholder,
html:lang(ja) body,
html:lang(ja) button,
html:lang(ja) input,
html:lang(ja-JP) ::-moz-placeholder,
html:lang(ja-JP) body,
html:lang(ja-JP) button,
html:lang(ja-JP) input {
  font-family: var(--font-japanese);
}
html:lang(ja) :-ms-input-placeholder,
html:lang(ja) body,
html:lang(ja) button,
html:lang(ja) input,
html:lang(ja-JP) :-ms-input-placeholder,
html:lang(ja-JP) body,
html:lang(ja-JP) button,
html:lang(ja-JP) input {
  font-family: var(--font-japanese);
}
html:lang(ja) ::placeholder,
html:lang(ja) body,
html:lang(ja) button,
html:lang(ja) input,
html:lang(ja-JP) ::placeholder,
html:lang(ja-JP) body,
html:lang(ja-JP) button,
html:lang(ja-JP) input {
  font-family: var(--font-japanese);
}
html:lang(ko) ::-webkit-input-placeholder,
html:lang(ko) body,
html:lang(ko) button,
html:lang(ko) input {
  font-family: var(--font-korean);
}
html:lang(ko) ::-moz-placeholder,
html:lang(ko) body,
html:lang(ko) button,
html:lang(ko) input {
  font-family: var(--font-korean);
}
html:lang(ko) :-ms-input-placeholder,
html:lang(ko) body,
html:lang(ko) button,
html:lang(ko) input {
  font-family: var(--font-korean);
}
html:lang(ko) ::placeholder,
html:lang(ko) body,
html:lang(ko) button,
html:lang(ko) input {
  font-family: var(--font-korean);
}
html:lang(zh-CN) ::-webkit-input-placeholder,
html:lang(zh-CN) body,
html:lang(zh-CN) button,
html:lang(zh-CN) input {
  font-family: var(--font-chinese-simplified);
}
html:lang(zh-CN) ::-moz-placeholder,
html:lang(zh-CN) body,
html:lang(zh-CN) button,
html:lang(zh-CN) input {
  font-family: var(--font-chinese-simplified);
}
html:lang(zh-CN) :-ms-input-placeholder,
html:lang(zh-CN) body,
html:lang(zh-CN) button,
html:lang(zh-CN) input {
  font-family: var(--font-chinese-simplified);
}
html:lang(zh-CN) ::placeholder,
html:lang(zh-CN) body,
html:lang(zh-CN) button,
html:lang(zh-CN) input {
  font-family: var(--font-chinese-simplified);
}
html:lang(zh-HK) ::-webkit-input-placeholder,
html:lang(zh-HK) body,
html:lang(zh-HK) button,
html:lang(zh-HK) input,
html:lang(zh-TW) ::-webkit-input-placeholder,
html:lang(zh-TW) body,
html:lang(zh-TW) button,
html:lang(zh-TW) input {
  font-family: var(--font-chinese-traditional);
}
html:lang(zh-HK) ::-moz-placeholder,
html:lang(zh-HK) body,
html:lang(zh-HK) button,
html:lang(zh-HK) input,
html:lang(zh-TW) ::-moz-placeholder,
html:lang(zh-TW) body,
html:lang(zh-TW) button,
html:lang(zh-TW) input {
  font-family: var(--font-chinese-traditional);
}
html:lang(zh-HK) :-ms-input-placeholder,
html:lang(zh-HK) body,
html:lang(zh-HK) button,
html:lang(zh-HK) input,
html:lang(zh-TW) :-ms-input-placeholder,
html:lang(zh-TW) body,
html:lang(zh-TW) button,
html:lang(zh-TW) input {
  font-family: var(--font-chinese-traditional);
}
html:lang(zh-HK) ::placeholder,
html:lang(zh-HK) body,
html:lang(zh-HK) button,
html:lang(zh-HK) input,
html:lang(zh-TW) ::placeholder,
html:lang(zh-TW) body,
html:lang(zh-TW) button,
html:lang(zh-TW) input {
  font-family: var(--font-chinese-traditional);
}
a,
button,
div,
input,
strong {
  outline: 0;
}
img[alt] {
  text-indent: -9999px;
}
.wrapper-6URcxg {
  background-image: url(https://images4.alphacoders.com/909/909912.png);
  width: 100%;
  height: 100%;
}
@media (min-width: 486px) {
  .wrapper-6URcxg {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.authBox-hW6HRx {
  width: 480px;
  padding: 32px;
  font-size: 18px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.authBox-hW6HRx a {
  color: var(--text-link);
}
.authBox-hW6HRx a:hover {
  text-decoration: underline;
}
.authBoxExpanded-2jqaBe {
  width: 784px;
}
.centeringWrapper-2Rs1dR {
  width: 100%;
  text-align: center;
}
@media (max-width: 485px) {
  .authBox-hW6HRx {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 70px 16px 40px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(
      linear,
      right top,
      left bottom,
      from(#3d4046),
      to(#1e1e23)
    );
    background: linear-gradient(to left bottom, #3d4046, #1e1e23);
    border-radius: 0;
    overflow: scroll;
  }
  .authBox-hW6HRx:before {
    content: "";
    position: absolute;
    top: 20px;
    height: 36px;
    width: 112px;
    background: url(/assets/22fd790491653d837422d80e3500cf92.svg) no-repeat;
  }
  @media (max-width: 830px) {
    .authBox-hW6HRx.authBoxExpanded-2jqaBe {
      max-width: unset;
    }
  }
  .authBox-hW6HRx .centeringWrapper-2Rs1dR {
    position: relative;
    min-height: 540px;
  }
}
@media (max-width: 830px) {
  .authBoxExpanded-2jqaBe {
    max-width: 480px;
  }
}
.is-mobile .authBox-hW6HRx {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 70px 16px 20px;
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#3d4046),
    to(#1e1e23)
  );
  background: linear-gradient(to left bottom, #3d4046, #1e1e23);
  border-radius: 0;
  overflow: scroll;
}
.is-mobile .authBox-hW6HRx:before {
  content: "";
  position: absolute;
  top: 20px;
  height: 36px;
  width: 112px;
  background: url(/assets/22fd790491653d837422d80e3500cf92.svg) no-repeat;
}
@media (max-width: 830px) {
  .is-mobile .authBox-hW6HRx.authBoxExpanded-2jqaBe {
    max-width: unset;
  }
}
.is-mobile .authBox-hW6HRx .centeringWrapper-2Rs1dR {
  position: relative;
  min-height: 540px;
}
.theme-dark.authBox-hW6HRx {
  color: #72767d;
  background: var(--background-mobile-primary);
}
.theme-dark.authBox-hW6HRx:before {
  background: url(/assets/22fd790491653d837422d80e3500cf92.svg) no-repeat;
  width: 130px;
}
.title-jXR8lp {
  font-weight: 600;
}
.block-egJnc0 {
  width: 100%;
  text-align: left;
}
.button-3k0cO7 {
  font-size: 16px;
  line-height: 24px;
}
.linkButton-wzh5kV {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.transitionGroup-aR7y1d {
  overflow: hidden;
  position: relative;
}
.measurement-DMxQp7 {
  overflow: hidden;
}
.measurementFill-31KKmO {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}
.measurementFillStatic-MZ1pNY {
  height: 100%;
}
.animatedNode-5VAmrN {
  width: 100%;
}
.qrLogin-1AOZMt {
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 344px;
}
.qrLogin-1AOZMt,
.qrLoginInner-c_7ePj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.qrLoginInner-c_7ePj {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.qrCode-wG6ZgU {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  position: absolute;
}
.qrCodeContainer-3sXarj {
  width: 176px;
  height: 176px;
  position: relative;
  margin-bottom: 32px;
}
.qrCodeContainer-3sXarj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.verticalSeparator-3huAjp {
  margin: 0 32px;
  border: 1px solid var(--background-modifier-accent);
}
@media (max-width: 830px) {
  .qrLogin-1AOZMt,
  .verticalSeparator-3huAjp {
    display: none;
  }
}
.mainLoginContainer-1ddwnR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
@-webkit-keyframes Shine-2sIJ1p {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}
@keyframes Shine-2sIJ1p {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}
.form-2d3M9m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 660px;
}
@media (max-width: 485px) and (max-height: 550px) {
  .form-2d3M9m {
    display: block;
  }
}
@-webkit-keyframes pulse-2sZk7o {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
  }
}
@keyframes pulse-2sZk7o {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
  }
}
.wrapper-1P_m9K svg {
  display: block;
}
.text-1F94k4 {
  margin-bottom: 16px;
}
.text-1F94k4 {
  color: var(--interactive-normal);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
.wrapper-2K4Z3k {
  position: relative;
}
@-webkit-keyframes popout-loading-3ETohm {
  0% {
    -webkit-transform: translate3d(-256px, 0, 0);
    transform: translate3d(-256px, 0, 0);
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-256px, 0, 0);
    transform: translate3d(-256px, 0, 0);
  }
}
@keyframes popout-loading-3ETohm {
  0% {
    -webkit-transform: translate3d(-256px, 0, 0);
    transform: translate3d(-256px, 0, 0);
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-256px, 0, 0);
    transform: translate3d(-256px, 0, 0);
  }
}
.emoji {
  -o-object-fit: contain;
  object-fit: contain;
  width: 1.375em;
  height: 1.375em;
  vertical-align: bottom;
}
@-webkit-keyframes placeholderPulse-34GVGw {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes placeholderPulse-34GVGw {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@-webkit-keyframes uploadIconAnimateInLeft-lEUOPh {
  0% {
    -webkit-transform: translateZ(0) rotate(0);
    transform: translateZ(0) rotate(0);
    opacity: 0.6;
  }
  4.1667% {
    -webkit-transform: translate3d(0, -1px, 0) rotate(0);
    transform: translate3d(0, -1px, 0) rotate(0);
    opacity: 0.68;
  }
  30.8334% {
    -webkit-transform: translate3d(-48px, -10px, 0) rotate(-36deg);
    transform: translate3d(-48px, -10px, 0) rotate(-36deg);
    opacity: 1;
  }
  58.3334% {
    -webkit-transform: translate3d(-41px, -3px, 0) rotate(-28deg);
    transform: translate3d(-41px, -3px, 0) rotate(-28deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate3d(-45px, -8px, 0) rotate(-32deg);
    transform: translate3d(-45px, -8px, 0) rotate(-32deg);
    opacity: 1;
  }
  83.3334% {
    -webkit-transform: translate3d(-44px, -7px, 0) rotate(-30.7deg);
    transform: translate3d(-44px, -7px, 0) rotate(-30.7deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(-44px, -6px, 0) rotate(-30deg);
    transform: translate3d(-44px, -6px, 0) rotate(-30deg);
    opacity: 1;
  }
}
@keyframes uploadIconAnimateInLeft-lEUOPh {
  0% {
    -webkit-transform: translateZ(0) rotate(0);
    transform: translateZ(0) rotate(0);
    opacity: 0.6;
  }
  4.1667% {
    -webkit-transform: translate3d(0, -1px, 0) rotate(0);
    transform: translate3d(0, -1px, 0) rotate(0);
    opacity: 0.68;
  }
  30.8334% {
    -webkit-transform: translate3d(-48px, -10px, 0) rotate(-36deg);
    transform: translate3d(-48px, -10px, 0) rotate(-36deg);
    opacity: 1;
  }
  58.3334% {
    -webkit-transform: translate3d(-41px, -3px, 0) rotate(-28deg);
    transform: translate3d(-41px, -3px, 0) rotate(-28deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate3d(-45px, -8px, 0) rotate(-32deg);
    transform: translate3d(-45px, -8px, 0) rotate(-32deg);
    opacity: 1;
  }
  83.3334% {
    -webkit-transform: translate3d(-44px, -7px, 0) rotate(-30.7deg);
    transform: translate3d(-44px, -7px, 0) rotate(-30.7deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(-44px, -6px, 0) rotate(-30deg);
    transform: translate3d(-44px, -6px, 0) rotate(-30deg);
    opacity: 1;
  }
}
@-webkit-keyframes uploadIconAnimateInMiddle-3DqCs3 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  30.8334% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  58.3334% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }
  83.3334% {
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
}
@keyframes uploadIconAnimateInMiddle-3DqCs3 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  30.8334% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  58.3334% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }
  83.3334% {
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
}
@-webkit-keyframes uploadIconAnimateInRight-KUAMIW {
  0% {
    -webkit-transform: translateZ(0) rotate(0);
    transform: translateZ(0) rotate(0);
    opacity: 0.6;
  }
  4.1667% {
    -webkit-transform: translate3d(0, -1px, 0) rotate(0);
    transform: translate3d(0, -1px, 0) rotate(0);
    opacity: 0.68;
  }
  30.8334% {
    -webkit-transform: translate3d(48px, -10px, 0) rotate(36deg);
    transform: translate3d(48px, -10px, 0) rotate(36deg);
    opacity: 1;
  }
  58.3334% {
    -webkit-transform: translate3d(41px, -3px, 0) rotate(28deg);
    transform: translate3d(41px, -3px, 0) rotate(28deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate3d(45px, -8px, 0) rotate(32deg);
    transform: translate3d(45px, -8px, 0) rotate(32deg);
    opacity: 1;
  }
  83.3334% {
    -webkit-transform: translate3d(44px, -7px, 0) rotate(30.7deg);
    transform: translate3d(44px, -7px, 0) rotate(30.7deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(44px, -6px, 0) rotate(30deg);
    transform: translate3d(44px, -6px, 0) rotate(30deg);
    opacity: 1;
  }
}
@keyframes uploadIconAnimateInRight-KUAMIW {
  0% {
    -webkit-transform: translateZ(0) rotate(0);
    transform: translateZ(0) rotate(0);
    opacity: 0.6;
  }
  4.1667% {
    -webkit-transform: translate3d(0, -1px, 0) rotate(0);
    transform: translate3d(0, -1px, 0) rotate(0);
    opacity: 0.68;
  }
  30.8334% {
    -webkit-transform: translate3d(48px, -10px, 0) rotate(36deg);
    transform: translate3d(48px, -10px, 0) rotate(36deg);
    opacity: 1;
  }
  58.3334% {
    -webkit-transform: translate3d(41px, -3px, 0) rotate(28deg);
    transform: translate3d(41px, -3px, 0) rotate(28deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate3d(45px, -8px, 0) rotate(32deg);
    transform: translate3d(45px, -8px, 0) rotate(32deg);
    opacity: 1;
  }
  83.3334% {
    -webkit-transform: translate3d(44px, -7px, 0) rotate(30.7deg);
    transform: translate3d(44px, -7px, 0) rotate(30.7deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(44px, -6px, 0) rotate(30deg);
    transform: translate3d(44px, -6px, 0) rotate(30deg);
    opacity: 1;
  }
}
@-webkit-keyframes uploadModalShake-1PBhUb {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes uploadModalShake-1PBhUb {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes uploadTextFadeIn-3vkVkM {
  0%,
  8.334% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
    opacity: 0;
  }
  45.8%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes uploadTextFadeIn-3vkVkM {
  0%,
  8.334% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
    opacity: 0;
  }
  45.8%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes uploadModalBounceTransition-2UbjF9 {
  0% {
    -webkit-transform: translateZ(0) scale(0.99);
    transform: translateZ(0) scale(0.99);
  }
  50% {
    -webkit-transform: translateZ(0) scale(1.005);
    transform: translateZ(0) scale(1.005);
  }
  to {
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
  }
}
@keyframes uploadModalBounceTransition-2UbjF9 {
  0% {
    -webkit-transform: translateZ(0) scale(0.99);
    transform: translateZ(0) scale(0.99);
  }
  50% {
    -webkit-transform: translateZ(0) scale(1.005);
    transform: translateZ(0) scale(1.005);
  }
  to {
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
  }
}
@-webkit-keyframes uploadModalBounce-30cglS {
  0% {
    -webkit-transform: translateZ(0) scale(0.99);
    transform: translateZ(0) scale(0.99);
  }
  15%,
  to {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
  33.3334% {
    -webkit-transform: translateZ(0) scale(1.005);
    transform: translateZ(0) scale(1.005);
  }
  54.1667% {
    -webkit-transform: translateZ(0) scale(0.995);
    transform: translateZ(0) scale(0.995);
  }
  70.8334%,
  to {
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
  }
}
@keyframes uploadModalBounce-30cglS {
  0% {
    -webkit-transform: translateZ(0) scale(0.99);
    transform: translateZ(0) scale(0.99);
  }
  15%,
  to {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
  33.3334% {
    -webkit-transform: translateZ(0) scale(1.005);
    transform: translateZ(0) scale(1.005);
  }
  54.1667% {
    -webkit-transform: translateZ(0) scale(0.995);
    transform: translateZ(0) scale(0.995);
  }
  70.8334%,
  to {
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
  }
}
@-webkit-keyframes ripple-N7-maz {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes ripple-N7-maz {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }
}
@-webkit-keyframes bounce-3G6o78 {
  25% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounce-3G6o78 {
  25% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes loadIN-3GZ05S {
  0% {
    -webkit-transform: translate3d(0, 24px, 0);
    transform: translate3d(0, 24px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes loadIN-3GZ05S {
  0% {
    -webkit-transform: translate3d(0, 24px, 0);
    transform: translate3d(0, 24px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.content-sp-7A3 {
  height: 100%;
  padding-bottom: 20px;
}
@-webkit-keyframes invite-button-resolving-366-1w {
  0% {
    -webkit-transform: translate3d(-380px, 0, 0);
    transform: translate3d(-380px, 0, 0);
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-380px, 0, 0);
    transform: translate3d(-380px, 0, 0);
  }
}
@keyframes invite-button-resolving-366-1w {
  0% {
    -webkit-transform: translate3d(-380px, 0, 0);
    transform: translate3d(-380px, 0, 0);
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-380px, 0, 0);
    transform: translate3d(-380px, 0, 0);
  }
}
.wrapper-O5i5-0 {
  min-height: 385px;
}
@-webkit-keyframes loading-3l7Cr9 {
  0% {
    -webkit-transform: translate3d(-271px, 0, 0);
    transform: translate3d(-271px, 0, 0);
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-271px, 0, 0);
    transform: translate3d(-271px, 0, 0);
  }
}
@keyframes loading-3l7Cr9 {
  0% {
    -webkit-transform: translate3d(-271px, 0, 0);
    transform: translate3d(-271px, 0, 0);
  }
  50% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-271px, 0, 0);
    transform: translate3d(-271px, 0, 0);
  }
}
@-webkit-keyframes ripple-2PE2Cc {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes ripple-2PE2Cc {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
  }
}
.icon-1Is6F2 {
  height: 18px;
  width: 18px;
}
.header-2k4I2o {
  -webkit-box-shadow: var(--elevation-low);
  box-shadow: var(--elevation-low);
  grid-column: 1/3;
  grid-row: 1/2;
  min-height: 1px;
  z-index: 1;
  padding: 0 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@-webkit-keyframes pulseIcon-2wem_X {
  0%,
  to {
    -webkit-transform: scale(0.85714);
    transform: scale(0.85714);
  }
  50% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes pulseIcon-2wem_X {
  0%,
  to {
    -webkit-transform: scale(0.85714);
    transform: scale(0.85714);
  }
  50% {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes pulseButton-37U3Qe {
  0%,
  to {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
@keyframes pulseButton-37U3Qe {
  0%,
  to {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes sparkle-326-jL {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-50deg) scale(0);
    transform: rotate(-50deg) scale(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  40% {
    opacity: 0;
    -webkit-transform: rotate(50deg) scale(0);
    transform: rotate(50deg) scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(-50deg) scale(0);
    transform: rotate(-50deg) scale(0);
  }
}
@keyframes sparkle-326-jL {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-50deg) scale(0);
    transform: rotate(-50deg) scale(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
  40% {
    opacity: 0;
    -webkit-transform: rotate(50deg) scale(0);
    transform: rotate(50deg) scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(-50deg) scale(0);
    transform: rotate(-50deg) scale(0);
  }
}
.upsell-34F9Me {
  margin-top: 8px;
}
@-webkit-keyframes indeterminate1-WkD31A {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  to {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate1-WkD31A {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  to {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate2-hcYkmM {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  to {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate2-hcYkmM {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  to {
    left: 107%;
    right: -8%;
  }
}
